 <div class="bootediv">
        <div class="bootednum1">
            <p><span class="text_booted_color">Địa chỉ</span>
                <br>
                <span>Địa chỉ: Số xxx, Đường Lĩnh Nam, <br>
                    Quận Minh Khai, Thành Phố Hà Nội</span>
                <br>
                <span>Phone: 09xxxxxxx</span>
                <br>
                <span>Email: dominh@xxxx</span>
            </p>
            <p><span class="text_booted_color">Liên kết website</span>
                <br>
                <span>
                    Bộ Y Tế
                </span>
                <br>
                <span>Cục Quản lý Khám, Chữa bệnh</span>
                <br>
                <span>Tạp chí Bệnh viện</span>
                <br>
                <span>Báo Sức khỏe và Đời sống</span>
            </p>
            <p><span class="text_booted_color">Đăng kí nhận tin</span>
                <br>
                <span>Đăng kí địa chỉ email để nhận thông tin sớm nhất từ bệnh viện</span>
                <br>
            </p>
        </div>
        <div class="bootednum2">
            <p>© 2019 Bệnh viện Chết rồi. All Rights Reserved by TML.vn</p>
            <p class="bootednum2_link">
                <a href=""> Gioi thiệu </a>
                <a href="">Tuyển dụng</a>
                <a href="">Liên hệ</a>
            </p>
        </div>