<div class="flextop">
    <div class="nametop">BENH VIEN CHET ROI</div>
    <div  class="dropdown mt-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
    <div class="titlemenu">
        <a href="">
            <h4>Chuyen khoa</h4>
            Tim bac si theo chuyen khoa
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Cơ sở y tế</h4>
            Chọn bệnh viện phòng khám
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Bác sĩ</h4>
            Chọn bác sĩ giỏi
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Gói khám</h4>
            Khám sức khỏe tổng quát
        </a>
    </div>
    <div class="iconright">
        <a href=""><i class="fa-solid fa-circle-question"></i> Hỗ Trợ</a>
        <a href=""><i class="fa-solid fa-circle-info"></i> Thông tin</a>
        <a href="me/stored/sign_up_hospital"><i class="fa-solid fa-circle-info"></i> Đăng kí</a>
        <a href="/courses/create"><i class="fa-solid fa-circle-info"></i> Đăng nhập</a>
        <a href="">VN</a>
        |
        <a href="">EN</a>
    </div>
</div>