<div class="flextop">

    <div class="dropdown mt-2 ml-3">
        <button sty class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="background-color:rgba(0,0,0,0);border: 0px;">
            <i class="fa-solid fa-list"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="color: black;">
            <button class="dropdown-item" type="button"><a style="color: black;text-decoration: none;"
                    href="https://github.com/trongminh13/Hospital_Project/tree/test-branch"> GitHub</a></button>
            <button class="dropdown-item" type="button"><a style="color: black;text-decoration: none;"
                    href="https://github.com/trongminh13/Hospital_Project/tree/test-branch"> GitHub</a></button>
            <button class="dropdown-item" type="button"><a style="color: black;text-decoration: none;"
                    href="https://github.com/trongminh13/Hospital_Project/tree/test-branch"> GitHub</a></button>
            <button class="dropdown-item" type="button"><a style="color: black;text-decoration: none;"
                    href="https://github.com/trongminh13/Hospital_Project/tree/test-branch"> GitHub</a></button>
            <button class="dropdown-item" type="button"><a style="color: black;text-decoration: none;"
                    href="https://github.com/trongminh13/Hospital_Project/tree/test-branch"> GitHub</a></button>
            <button class="dropdown-item" type="button"><a style="color: black;text-decoration: none;"
                    href="https://github.com/trongminh13/Hospital_Project/tree/test-branch"> GitHub</a></button>
            <button class="dropdown-item" type="button"><a style="color: black;text-decoration: none;"
                    href="https://github.com/trongminh13/Hospital_Project/tree/test-branch"> GitHub</a></button>
            <button class="dropdown-item" type="button"><a style="color: black;text-decoration: none;"
                    href="https://github.com/trongminh13/Hospital_Project/tree/test-branch"> GitHub</a></button>
        </div>
    </div>
    <div style="color: rgba(0, 0, 0, 0.5);letter-spacing: 3px;" class="nametop mt-3"><A>BENH VIEN CHET ROI</A></div>
    <div class="titlemenu">
        <a href="">
            <h4>Chuyen khoa</h4>
            Tim bac si theo chuyen khoa
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Cơ sở y tế</h4>
            Chọn bệnh viện phòng khám
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Bác sĩ</h4>
            Chọn bác sĩ giỏi
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Gói khám</h4>
            Khám sức khỏe tổng quát
        </a>
    </div>
    <div class="iconright">
        <a href=""><i class="fa-solid fa-circle-question"></i> Hỗ Trợ</a>
        <a href=""><i class="fa-solid fa-circle-info"></i> Thông tin</a>
        <a href="me/stored/sign_up_hospital"><i class="fa-solid fa-circle-info"></i> Đăng kí</a>
        <a href="/courses/create"><i class="fa-solid fa-circle-info"></i> Đăng nhập</a>
        <a href="">VN</a>
        |
        <a href="">EN</a>
    </div>
</div>