<div class="flextop">
    <div class="dropdown mt-2">
        <button style="background-color:rgba(0,0,0,0);" class="btn dropdown" type="button" id="dropdownMenu2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="nav-link disabled" href="/courses/create"><button class="dropdown-item"
                    style="cursor: context-menu;" type="button">Đăng kí khoa</button></a>
            <a class="nav-link disabled" href="/me/stored/courses"><button class="dropdown-item"
                    style="cursor: context-menu;" type="button">Chỉnh Sửa Các Chuyên Khoa</button></a>
            <a class="nav-link disabled" href="/me/stored/courses"><button class="dropdown-item"
                    style="cursor: context-menu;" type="button">Gioi Thiệu về Bệnh Viện</button></a>
                    <a class="nav-link disabled" href="/sign_up/sign_up_hospital"><button class="dropdown-item"
                    style="cursor: context-menu;" type="button">Dang Ki Kham Benh</button></a>
            <a class="nav-link disabled" href="/"><button class="dropdown-item"
                    style="cursor: context-menu;" type="button">Trang Chủ</button></a>
        </div>
    </div>
    <div class="nametop">BENH VIEN CHET ROI</div>
    <div class="titlemenu">
        <a href="">
            <h4>Chuyen khoa</h4>
            Tim bac si theo chuyen khoa
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Cơ sở y tế</h4>
            Chọn bệnh viện phòng khám
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Bác sĩ</h4>
            Chọn bác sĩ giỏi
        </a>
    </div>
    <div class="titlemenu">
        <a href="">
            <h4>Gói khám</h4>
            Khám sức khỏe tổng quát
        </a>
    </div>
    <div class="iconright">
        <a href=""><i class="fa-solid fa-circle-question"></i> Hỗ Trợ</a>
        <a href=""><i class="fa-solid fa-circle-info"></i> Thông tin</a>
        <a href="me/stored/sign_up_hospital"><i class="fa-solid fa-circle-info"></i> Đăng kí</a>
        <a href="/courses/create"><i class="fa-solid fa-circle-info"></i> Đăng nhập</a>
        <a href="">VN</a>
        |
        <a href="">EN</a>
    </div>
</div>