<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/webbenhvien.css">
    <title>WEB BENH VIEN </title>
</head>

<body>
    <div class="flextop">
        <div class="nametop">BENH VIEN CHET ROI</div>
        <div class="titlemenu">
            <a href="">
                <h3>Chuyen khoa</h3>
                Tim bac si theo chuyen khoa
            </a>
        </div>
        <div class="titlemenu">
            <a href="">
                <h3>Cơ sở y tế</h3>
                Chọn bệnh viện phòng khám
            </a>
        </div>
        <div class="titlemenu">
            <a href="">
                <h3>Bác sĩ</h3>
                Chọn bác sĩ giỏi
            </a>
        </div>
        <div class="titlemenu">
            <a href="">
                <h3>Gói khám</h3>
                Khám sức khỏe tổng quát
            </a>
        </div>
        <div class="iconright">
            <a href=""><i class="fa-solid fa-circle-question"></i> Hỗ Trợ</a>
            <a href=""><i class="fa-solid fa-circle-info"></i> Thông tin</a>
            <a href="">VN</a>
            |
            <a href="">EN</a>
        </div>
    </div>


    <div class="bodydiv">
        <div class="imagemenu">
            <div class="nothing"></div>
            <div class="titleimagenum1">
                <p>NỀN TẢNG Y TẾ</p>
                <p>CHĂM SÓC SỨC KHỎE TOÀN DIỆN</p>
            </div>
            <input type="text" placeholder="Tim chuyen khoa kham benh ma ban muon">
            <div class="titleiconimage">
                <form action="" method="post">
                    <div class="icon"><a href=""><i class="fa-solid fa-hospital"></i>
                            <p>Khám chuyên khoa</p>
                        </a></div>
                </form>
                <form action="" method="post">
                    <div class="icon"><a href=""><i class="fa-solid fa-phone"></i>
                            <p>Khám từ xa</p>
                        </a></div>
                </form>
                <form action="" method="post">
                    <div class="icon"><a href=""><i class="fa-solid fa-bed-pulse"></i>
                            <p>Kham tong quat</p>
                        </a></div>
                </form>
                <form action="" method="post">
                    <div class="icon"><a href=""><i class="fa-solid fa-flask-vial"></i>
                            <p>Xet nghiem y hoc</p>
                        </a></div>
                </form>
                <form action="" method="post">
                    <div class="icon"><a href=""><i class="fa-solid fa-dumbbell"></i>
                            <p>Suc khoe vs tinh than</p>
                        </a></div>
                </form>
                <form action="" method="post">
                    <div class="icon"><a href=""><i class="fa-solid fa-teeth"></i>
                            <p>Khám nha khoa</p>
                        </a></div>
                </form>
            </div>
        </div>
        <p class="name_pop">Chuyen khoa pho bien</p>
        <div class="popularspecialist">
            <div class="liltechosseinput">
                <p>Xương khớp</p>
            </div>
            <div class="liltechosseinput">
                <p>Châm cứu</p>
            </div>
            <div class="liltechosseinput">
                <p>Y học cổ truyền</p>
            </div>
            <div class="liltechosseinput">
                <p>Tim mạch</p>
            </div>
            <div class="liltechosseinput">
                <p>Thần kinh</p>
            </div>
        </div>
        <p class="name_pop">Co so y te noi bat</p>
        <div class="popularhoslital">

            <div class="liltechosseinput1">
                <p>Bạch mai</p>
            </div>
            <div class="liltechosseinput1">
                <p>Y dược</p>
            </div>
            <div class="liltechosseinput1">
                <p>Việt Đức</p>
            </div>
            <div class="liltechosseinput1">
                <p>SangPhong</p>
            </div>
            <div class="liltechosseinput1">
                <p>Thần kinh</p>
            </div>
        </div>
        <p class="name_pop">Bac si noi bat tuan qua</p>
        <div class="populardoctor">

            <div class="liltechosseinput">
                <p>Xương khớp</p>
            </div>
            <div class="liltechosseinput">
                <p>Châm cứu</p>
            </div>
            <div class="liltechosseinput">
                <p>Y học cổ truyền</p>
            </div>
            <div class="liltechosseinput">
                <p>Tim mạch</p>
            </div>
            <div class="liltechosseinput">
                <p>Thần kinh</p>
            </div>
        </div>
        <p class="name_pop">Cam nang</p>
        <div class="rosemary">

            <div class="liltechosseinput">
                <p>Xương khớp</p>
            </div>
            <div class="liltechosseinput">
                <p>Châm cứu</p>
            </div>
            <div class="liltechosseinput">
                <p>Y học cổ truyền</p>
            </div>
            <div class="liltechosseinput">
                <p>Tim mạch</p>
            </div>
            <div class="liltechosseinput">
                <p>Thần kinh</p>
            </div>
        </div>
        <p class="name_pop">Truyen thong noi ve Channel</p>
        <div class="youtubeandsoscity">

            <div class="youtobeshow">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/QIvIN8M91x4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="textforyoutobe">
                <p>Viện Y học PK-KQ tiền thân là Bệnh viện PK-KQ được thành lập ngày 15/1/1970 theo Quyết định số
                    179/TM-QL trên cơ sở hợp nhất khoa Không quân (khoa A6) của Viện Quân y 108 và Đội điều trị PK-KQ.
                    Nơi đóng quân hiện nay tại số 225, Đường Trường Chinh, Phường Khương Mai, Quận Thanh Xuân, Thành phố
                    Hà Nội.

                    Viện Y học PK-KQ với chức năng, nhiệm vụ chính là Khám tuyển tạo nguồn học viên lái máy bay quân sự.
                    Giám định, quản lý sức khỏe phi công quân sự; nghiên cứu khoa học về Y học Hàng không (YHHK) và bệnh
                    nghề nghiệp; huấn luyện sinh lý YHHK cho phi công và nhân viên công tác trên không; huấn luyện đào
                    tạo chuyên ngành YHHK; thực hiện chỉ đạo công tác tuyến; hợp tác Quốc tế về YHHK; đảm bảo quân y sẵn
                    sàng chiến đấu theo phân cấp, phòng chống dịch bệnh, tìm kiếm cứu hộ, cứu nạn; phòng chống thiên tai
                    thảm họa; khám chữa bệnh cho bộ đội thuộc Quân chủng PK-KQ và nhân dân; tham gia khám tuyển tạo
                    nguồn phi công và
                    nhân viên Hàng không dân dụng; giám
                    định sức khỏe nhân viên Hàng không.</p>
            </div>
        </div>

        <div class="chartallpecialist">

        </div>
        <div class="commentforall">

        </div>

    </div>




    <div class="bootediv">
        <div class="bootednum1">
            <p><span class="text_booted_color">Địa chỉ</span>
                <br>
                <span>Địa chỉ: Số xxx, Đường Lĩnh Nam, <br>
                    Quận Minh Khai, Thành Phố Hà Nội</span>
                <br>
                <span>Phone: 09xxxxxxx</span>
                <br>
                <span>Email: dominh@xxxx</span>
            </p>
            <p><span class="text_booted_color">Liên kết website</span>
                <br>
                <span>
                    Bộ Y Tế
                </span>
                <br>
                <span>Cục Quản lý Khám, Chữa bệnh</span>
                <br>
                <span>Tạp chí Bệnh viện</span>
                <br>
                <span>Báo Sức khỏe và Đời sống</span>
            </p>
            <p><span class="text_booted_color">Đăng kí nhận tin</span>
                <br>
                <span>Đăng kí địa chỉ email để nhận thông tin sớm nhất từ bệnh viện</span>
                <br>
                <button class="button_booted_tab">ĐĂNG KÍ TÀI KHOẢN BỆNH VIỆN</button>
            </p>
        </div>
        <div class="bootednum2">
            <p>© 2019 Bệnh viện Chết rồi. All Rights Reserved by TML.vn</p>
            <p class="bootednum2_link">
                <a href=""> Gioi thiệu </a>
                <a href="">Tuyển dụng</a>
                <a href="">Liên hệ</a>
            </p>
        </div>
    </div>
    <script src="./webbenhvien.js"></script>
</body>

</html>