<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" name="" id="" class="" method="POST">
        <div class="title"></div>
        <div class="form_group">
            <label for="name"></label>
            <input name="name" type="text" id="name" placeholder="hehe" class="form_control">
            <span class="form_meseger"></span>
        </div>
        <div class="form_group">
            <label for="name"></label>
            <input name="name" type="text" id="email" placeholder="hehe" class="form_control">
            <span class="form_meseger"></span>
        </div>
        <div class="form_group">
            <label for="name"></label>
            <input name="name" type="text" id="password" placeholder="hehe" class="form_control">
            <span class="form_meseger"></span>
        </div>
        <div class="form_group">
            <label for="name"></label>
            <input name="name" type="text" id="passwordconformied" placeholder="hehe" class="form_control">
            <span class="form_meseger"></span>
        </div>

    </form>
</body>
</html>