<form action="" name="" id="form1" class="" method="POST">
        <div class="title"></div>
        <div class="form_group">
            <label for="name"></label>
            <input name="name" type="text" id="name" placeholder="hehe" class="form_control">
            <span class="form_meseger"></span>
        </div>
        <div class="form_group">
            <label for="name"></label>
            <input name="name" type="text" id="email" placeholder="hehe" class="form_control">
            <span class="form_meseger"></span>
        </div>
        <div class="form_group">
            <label for="name"></label>
            <input name="name" type="text" id="password" placeholder="hehe" class="form_control">
            <span class="form_meseger"></span>
        </div>
        <div class="form_group">
            <label for="name"></label>
            <input name="name" type="text" id="passwordconformied" placeholder="hehe" class="form_control">
            <span class="form_meseger"></span>
        </div>

    </form>
    {{!-- <script>
        document.addEventListener('DOMContentLoaded',function(){
            Validator(
                {
form: '#form1', 
form_groupSelect:'form_group',
error_canhbao:'',

                
                });
        });
    </script> --}}


