<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/sign_in_hospital.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form class="formsignin" action="/webbenhvien.html" method="POST">
        <div class="title"></div>
        <label for="email">Nhap email cua bạn: </label><br>
        <input name="email" type="email" placeholder="Vui long nhap email ma ban muon dang nhap"><br>
        <span>Ban chưa nhap email !</span><br>
        <label for="password"> Nhap mật khẩu của bạn: </label><br>
        <input name="password" type="password" placeholder="Vui long nhap email ma ban muon dang nhap"><br>
        <span>Bạn chưa nhập password !</span><br>
        <button class="submit" type="submit">ĐĂNG NHẬP</button><br>
        <button class="reset" type="reset">Reset </button><br>
    </form>

</body>

</html>