<div class="mt-0">
    <form style="height: 3000px;width: 95%;margin: auto;padding: 100px 0px 0px 0px;" method="POST" action="/courses/store">
    <h2>DĂNG KÍ KHOA</h2>
        <div class="form-group">
            <label for="name">Tên khoa : </label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="form-group">
            <label for="description">Chú thích: </label>
            <input type="text" class="form-control" id="description" name="description" />
        </div>
        <div class="form-group">
            <label for="doctor">bác sĩ phụ trách: </label>
            <input type="text" class="form-control" id="doctor" name="doctor" />
        </div>
        <div class="form-group">
            <label for="videoId">Video: </label>
            <input type="text" class="form-control" id="videoId" name="videoId" />
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh: </label>
            <input type="text" class="form-control" id="image" name="image" />
        </div>
        <div class="form-group">
            <label for="level">Trình độ: </label>
            <input type="text" class="form-control" id="level" name="level" />
        </div>
        <button type="submit" class="btn btn-primary">Thêm Khoa phụ trách</button>
    </form>
</div>